.movies__list {
  padding-top: 70px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  justify-items: center;
  gap: 30px 24px;
}

@media screen and (max-width: 920px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    gap: 36px 30px;
  }

  .movies__not-found-text {
    font-size: var(--text-s);
  }
}

@media screen and (max-width: 452px) {
  .movies {
    padding-top: 40px;
  }

  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }
}
