.container_content_movies {
  padding-left: var(--app-side-padding-desktop);
  padding-right: var(--app-side-padding-desktop);
}

@media screen and (max-width: 920px) {
  .container_content_movies {
    padding-left: var(--app-side-padding-tab-s);
    padding-right: var(--app-side-padding-tab-s);
  }
}

@media screen and (max-width: 586px) {
  .container_content_movies {
    padding-left: var(--app-side-padding-mobile-xs);
    padding-right: var(--app-side-padding-mobile-xs);
  }
}
