.movies {
  padding-left: var(--app-side-padding-desktop);
  padding-right: var(--app-side-padding-desktop);
  padding-bottom: 80px;
}

.movies__info-text {
  margin: 70px 0 0;
  max-width: 70%;
  align-self: center;
  font-size: var(--text-l);
  line-height: var(--text-line-s);
  color: var(--color-text-secondary);
  text-align: center;
}

@media screen and (max-width: 920px) {
  .movies {
    padding-left: var(--app-side-padding-tab-s);
    padding-right: var(--app-side-padding-tab-s);
  }

  .movies__info-text {
    font-size: var(--text-s);
  }
}

@media screen and (max-width: 586px) {
  .movies {
    padding-left: var(--app-side-padding-mobile-xs);
    padding-right: var(--app-side-padding-mobile-xs);
  }

  .movies__info-text {
    max-width: 90%;
  }
}
